.side-bar
  .header
    .header-items
      .header-items__name
        user name
      %ul.header-items__icons
        %li.icon
        = link_to "#" do
          = icon('fa', 'edit',class: "icon")
          %span<>
        %li.icon
        = link_to "#" do
          = icon('fa', 'cog',class: "icon")
          %span<>
  .main
    .main-items
      .main-items__group-name
        group name 1
      .main-items__message
        message 1
    .main-items
      .main-items__group-name
        group name 2
      .main-items__message
        message 2
