$white: #ffffff;
$lightBlue: #38aef0;

$fontDarkBlack: #333333;
$fontDarkGray:#434a54;
$fontLightGray: #999999;

$side-barHeaderColor:#253141;
$side-barMainColor:#2f3e51;
$mainMainColor:#fafafa;
$mainFooterColor:#d2d2d2;