* {
  box-sizing: border-box;
  // text-decoration: none; 
}

.wrapper {
  display:flex;
  height:100vh;
}

.side-bar {
  width:300px;
  color: #ffffff;
  .header {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-items {
      height: 20px;
      width:260px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        font-weight: bold;
        width: calc(100% - 60px);
      }
      &__icons {
        width:60px;
        .icon {
          float: right;
          display:inline-block;
          margin-left: 5px;
          color: #ffffff;
        }
      }
    }
  }
  .main {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow: scroll;
    .main-items {
      padding:20px 20px 40px;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size:11px;
      }
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  .header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    .group{
      float: left;
      &__group-name {
        margin-top: 35px;
        font-size: 20px;
        color:#333333;
      }
      &__members {
        display: flex;
        margin-top: 15px;
        font-size: 12px;
        color:#999999;
        .member {
          margin-left:5px;
        }
      }
    }
    .edit-btn {
      float: right;
      display: inline-block;
      text-decoration: none;
      margin-top: 28px;
      width: 72px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      border: solid 1px #38aef0;
      font-size: 16px;
      color: #38aef0;
    }
  }
  .main {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    overflow: scroll;
    .message-items {
      &__title {
        margin-bottom: 12px;
        display: flex;
        .member {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        .timestamp {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__message {
        margin-bottom: 46px;
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  .footer {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    .box {
      float: left;
      width: calc(100vw - 300px - 40px - 15px - 100px - 40px);
      height: 50px;
      background-color: #fafafa;
      &__text {
        float: left;
        padding: 0 10px;
        height: 50px;
        width: calc(100% - 40px);
        border: none;
        background-color: #fafafa;
      }
      &__file-btn{
        display: none;
      }
      &__icon {
        float: right;
        margin: auto 10px;
        font-size: 20px;
        line-height: 50px;
        background-color:#fafafa;
      }
      &__icon :hover {
        cursor: pointer;
      }
    }
    .send-btn {
      float: right;
      width: 100px;
      height: 50px;
      margin-left: 15px;
      background-color: #38aef0;
      color: #fafafa;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
    }
  }
}
